.gradient-custom-2 {
    /* fallback for old browsers */
    background: #a090fc;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #d8363a, #dd3675, #b44593);
    }
    
    @media (min-width: 568px) {
    .gradient-form {
    height: 40vh !important;
    }
    }
    @media (min-width: 569px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
    .common-form a{
          color:blue;
          cursor:pointer;
    }
    .invalid-input{
      color:red;
      font-size: 12px;
      margin-top: -10px;
    }
    .error-p{
      color:red;
    }

    